.portfolio {
    position: relative;
    height: auto;
}

.portfolio-video {
    margin-top: -18%;
    position: absolute;
    top: 0%;
    left: 0;
    width: 100%;
    height: 180%;
    object-fit: cover;
    z-index: -1; 
    filter: brightness(40%);
    opacity: 90%;
}

.portfolio-header {
    position: relative;
    z-index: 1; 
    text-align: center;
    color: white; 
    margin-top:20%;
    padding: 20px; 
}

.portfolio-title{
    font-size: 40px;
    margin-bottom:3%;
}

.portfolio-subheading{
    font-size: 30px;
    margin-bottom:3%;
}

.portfolio-houses{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 3%;
    margin-left: 7%;
    margin-top: 10%;
    overflow: visible;
}

.item{
    display: flex;
    flex-direction: row;
    padding:5%;
    margin-right: 70px;
    margin-bottom: 5%;
}

.text-side{
    font-size: 21px;
    margin-left:2%;
    line-height: 40px;
    white-space: nowrap;
}
.house-address{
    font-weight: bold;
}

.house-price{
    color: rgb(215, 4, 4);
    font-weight: bold;
}